[submodule "src/tugbot_ros2_pkgs"]
	path = src/tugbot_ros2_pkgs
	url = git@github.com:wakodeashay/tugbot_ros2_pkgs.git
[submodule "src/pointcloud_to_laserscan"]
	path = src/pointcloud_to_laserscan
	url = git@github.com:ros-perception/pointcloud_to_laserscan.git
